
.container{
    display: flex;
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
}

/*NEW BOOK SECTION*/
.new-book-container{
    display: flex;
    flex-direction: column;
    max-height: 630px;
    width: 300px;
    border: 2px solid black;
    align-items: center;
    padding: 20px;
}

#new-book-btn{
    width: 200px;    

}

#new-book-form{
    display: none;
}

.form-entry{
    margin: 30px;
    
}

.new-books-container > p{
    color: red;
    font-weight: bold;
}

/*BOOKS SECTION*/
.books-container{
    display: flex;
    flex-direction: column;
    height: 630px;
    width: 300px;
    border: 2px solid black;
}

.books-container > div{
    
    border: 1px solid black;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: 126px;
}

